In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
 #DataFrame 1 kolom dengan 25 baris bernama ‘TransactionAmount’

In [4]:
data = [100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65]
df = pd.DataFrame(data, columns=['TransactionAmount'])
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [5]:
#analisis measure of central tendency dari data ‘TransactionAmount’

In [6]:
import statistics
print(statistics.mean(data))
print(statistics.median(data))
statistics.mode(data)

102.6
100

100

In [7]:
statistics.multimode(data)

[100]

In [8]:
df.describe()

       TransactionAmount
count          25.000000
mean          102.600000
std            31.823733
min            50.000000
25%            85.000000
50%           100.000000
75%           120.000000
max           150.000000

In [9]:
df.info(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TransactionAmount  25 non-null     int64
dtypes: int64(1)
memory usage: 332.0 bytes

In [10]:
#analisis measure of variability dari data ‘TransactionAmount’

In [11]:
print(np.var(data))
print(np.std(data))
print(np.max(data) - np.min(data))
print(np.quantile((data), 0.25))
print(np.quantile((data), 0.5))
print(np.quantile((data), 0.75))

972.2399999999999
31.18076330047101
100
85.0
100.0
120.0

In [12]:
import scipy.stats as stats

In [13]:
np.array(data)

array([100, 150,  50, 100, 130, 120, 100,  85,  70, 150, 150, 120,  50,
       100, 100, 140,  90, 150,  50,  90, 120, 100, 110,  75,  65])

In [14]:
len(data)

25

In [38]:
stats.ttest_1samp(a=data, popmean=100)

TtestResult(statistic=0.4085001556802841, pvalue=0.6865284813438117, df=24)

In [40]:
stats.t.ppf(1-0.05, 24)

1.7108820799094275